{% extends "sidebar.html" %}
{% block head %}
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
{% endblock %}
{% block list %}
<li class="nav-item">
    <a href="/dashboard" class="nav-link active" aria-current="page">
      <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"/></svg>
      Home
    </a>
  </li>
  <li>
    <a href="/profile" class="nav-link text-white">
      <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
      Profile
    </a>
  </li>
  <li>
    <a href="/messages" class="nav-link text-white">
      <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#chat-quote-fill"/></svg>
      Messages
    </a>
  </li>
{% endblock %}

{% block content %}
<h1>Hi, {{ current_user.username }}!</h1>
    {% if form %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.post.label }}<br>
            {{ form.post(cols=32, rows=4) }}<br>
            {% for error in form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% endif %}
    {% for post in posts %}
        {% include "user_post.html" %}
    {% endfor %}
{% endblock %}