{% extends "sidebar.html" %}
{% block head %}
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ _('Profile') }}</title>
{% endblock %}
{% block list %}
<li class="nav-item">
    <a href="/dashboard" class="nav-link text-white">
      <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"/></svg>
      {{ _('Home') }}
    </a>
  </li>
  <li>
    <a href="/profile" class="nav-link active" aria-current="page">
      <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
      {{ _('Profile') }}
    </a>
  </li>
  <li>
    <a href="/messages" class="nav-link text-white">
      <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#chat-quote-fill"/></svg>
      {{ _('Messages') }}
    </a>
  </li>
{% endblock %}

{% block content %}
    <h1>{{ _('User:') }} {{ user.username }}</h1>
    <hr>
    {% for post in posts %}
    <p>
    {{ post.author.username }} {{ _('says:') }}' <b>{{ post.body }}</b>
    {% if post.image %}
      <img src="{{ url_for('static', filename='images/' + post.image) }}" width="100" height="100">
    {% endif %}
    <div class="" id="comments-{{post.id}}">
      <div class="card">
           <div class="card-body" id="comments-expanded-{{post.id}}">
               {% for comment in post.comments %}
               <div class="d-flex justify-content-between align-items-center"
                >
                   <div>
                       <a href="/user/{{comment.user.username}}">{{comment.user.username}}</a>:{{comment.body}}
                   </div>

               </div>
               {% endfor %}
           </div>
       </div>
   </div>

   <form class = "input-group mb-3" method = "POST" action ="/create-comment/{{post.id}}">
       <input type = "txt" id="text" name="text" class ="form-control" placeholder="Comment here!"/>
        <button type="submit" class="btn-btn primary"> Comment</button>
   </form>
</div>
    </p>
    <br>
{% endfor %} 
{%endblock%}